$black: #282828;
$white: #fff;
$grey:  #D9D9D9;
$lightGrey: #F3F3F3;
$purple: #3B3393;
$orange: #E1AC54;
$lightBlack: #282828;

$blue: #342C86;
$red: #E40001;
$darkRed: #CD0001;
$gold: #E0AC53;
$pastel: #FFF6E8;
$lightblue: #EFF4FF;
