.bullits {
  padding: 7rem 0 7.5rem;

  @media (max-width: $tablet) {
    padding: 30px 0 50px;
  }

  &__list {
    padding: 10.9rem 0 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    list-style: none;

    @media (max-width: $mobile) {
      padding: 0;
      flex-direction: column;
      gap: 0;
    }
  }

  &__image {
    margin: -10.9rem 0 3rem;

    @media (max-width: $mobile) {
      margin: -63px 0 15px;
      width: 51%;
    }
  }

  &__item {
    padding: 0 5.5rem 6.1rem;
    width: 33.3333%;
    background-color: $pastel;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;

    &:last-child {
      .bullits__text {
        max-width: 22.5rem;
      }
    }

    @media (max-width: $mobile) {
      width: 100%;
      margin-top: 63px;
      padding: 0 40px 32px;

      &:last-child {
        .bullits__text {
          max-width: 100%;
        }
      }
    }
  }

  &__subtitle {
    font-size: 2.4rem;
    line-height: 1.1;
    text-transform: uppercase;
    color: $gold;
    font-family: $mossport;
    margin: 0 0 1.9rem;

    @media (max-width: $tablet) {
      font-size: 24px;
    }

    @media (max-width: $mobile) {
      margin: 0 0 8px;
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.4;

    @media (max-width: $tablet) {
      font-size: 14px;
    }

    @media (max-width: $mobile) {
      font-size: 16px;
    }

  }

}
