.footer {
  padding: 6rem 0 4.1rem;
  position: relative;
  background-color: $blue;
  color: $white;

  @media (max-width: $mobile) {
    padding: 36px 0 53px;
  }

  &__title {
    line-height: 0.95;
    margin: 0 0 6rem;

    @media (max-width: $mobile) {
      margin: 0 0 34px;
      font-size: 45px;
    }

  }

  &__left-top {
    margin: 0 0 10.4rem;

    @media (max-width: $mobile) {
      margin: 0 0 34px;
    }
  }

  &__policy {
    color: $white;
    opacity: 0.7;
    font-size: 1.8rem;
    line-height: 1.5;

    &--mobile {
      display: none;
    }

    @media (max-width: $mobile) {
      font-size: 12px;
      display: none;

      &--mobile {
        display: block;
      }
    }
  }

  &__wrapper {
    position: relative;
    z-index: 6;
    display: flex;
    gap: 15.2rem;

    @media (max-width: $mobile) {
      gap: 0;
      flex-direction: column
    }
  }

  &__logos {
    display: flex;
    gap: 5.5rem;

    @media (max-width: $mobile) {
      gap: 25px;
      width: 88%;
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 5;

    img {
      width: 100%;
      height: 100%;
    }

    &--mobile {
      display: none;
    }

    @media (max-width: $mobile) {
      display: none;

      &--mobile {
        display: block;
      }
    }
  }

  &__right {
    width: 47.9rem;
    flex-shrink: 0;
    padding-top: 0.8rem;

    @media (max-width: $mobile) {
      width: 100%;
      padding-top: 0;
    }
  }

  &__item {
    margin: 0 0 2.5rem;

    &:first-child {
      margin: 0 0 5.8rem;
    }

    @media (max-width: $mobile) {
      margin: 0 0 25px;

      &:first-child {
        margin: 0 0 27px;
      }
    }

    p {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.4;
      margin: 0 0 0.7rem;

      @media (max-width: $mobile) {
        font-size: 20px;
        margin: 0 0 7px;
      }
    }

    a {
      color: $gold;
      text-decoration: none;
      font-size: 3.2rem;
      font-weight: 700;
      transition: color .2s ease-in-out;

      &:hover {
        color: $white;
      }

      @media (max-width: $mobile) {
        font-size: 24px;
      }

    }
  }

  &__info {
    font-size: 1.4rem;
    line-height: 1.2;
    max-width: 37rem;

    @media (max-width: $mobile) {
      font-size: 13px;
      max-width: 100%;
    }

    ul {
      padding: 0 0 0 2.5rem;

      @media (max-width: $mobile) {
        padding: 0 0 0 21px;
        margin: 0 0 30px;
      }
    }

    p {
      margin: 0 0 1.7rem;

      @media (max-width: $mobile) {
        margin: 0 0 16px;
      }
    }
  }

}
