.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: $red;
  z-index: 10;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.25);

  @media (max-width: $tablet) {
    height: 78px;

  }

  @media (max-width: $mobile) {
    background-color: $darkRed;
    box-shadow: none;
  }

  .container {
    height: 100%;
  }

  &__nav {
    margin-left: -4.5rem;
  }

  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
  }

  &__logos {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.5rem;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__logo-dep {
    width: 10rem;
    height: 3.4rem;
  }

  &__logo-100 {
    width: 10rem;
    height: 3rem;
  }
  &__action {
    background-color: $blue;
    transition: 0.2s background-color ease-in, 0.2s color ease-in;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0.8rem 2.1rem;
    color: $white;
    text-decoration: none;
    line-height: 1.3;

    &:hover {
      background-color: $white;
      color: $red;
    }

    @media (max-width: $tablet) {
      font-size: 14px;
      padding: 14px 20px;

      &:hover {
        background-color: $blue;
        color: $white;
      }

    }
  }



}
