.schedule {
  padding: 6.5rem 0 15rem;

  @media (max-width: $tablet) {
    padding: 50px 0 80px;
  }

  &__section {
    padding: 6.5rem 0 0;
    border-top: 1px solid $red;

    &:not(:last-child) {
      padding-bottom: 7rem;
    }

    @media (max-width: $mobile) {
      padding: 17px 0 20px;

      &:not(:last-child) {
        padding-bottom: 19px;
      }
    }
  }

  &__title {
    margin: 0 0 4.7rem;

    @media (max-width: $mobile) {
      margin: 0 0 20px;
    }
  }

  &__subtitle {

    @media (max-width: $mobile) {
      margin: 0 0 3px;
    }

  }

  &__wrapper {
    display: flex;
    gap: 2rem;

    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__content {
    background-color: $lightblue;
    padding: 4rem 3.5rem 1.5rem 4rem;
    width: 48rem;
    font-size: 1.6rem;
    line-height: 1.4;
    flex-shrink: 0;

    &--small-pad {
      padding: 4rem 1.4rem 1.5rem 4rem;
    }

    &--orange {
      background-color: $pastel;
    }

    @media (max-width: $mobile) {
      padding: 20px 20px 28px;
      font-size: 14px;
      line-height: 1.2;
      width: 100%;

      &--small-pad {
        padding: 20px 20px 28px;
      }
    }
  }

  &__description {
    margin: 0 0 2.5rem;

    p {
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 2rem;
      }

    }

    @media (max-width: $mobile) {
      margin: 0 0 20px;
      p {
        &:not(:last-child) {
          margin: 0 0 20px;
        }
      }
    }
  }

  &__points {
    margin: 0 0 1.9rem;

    @media (max-width: $mobile) {
      margin: 0 0 35px;
    }
  }

  &__point {
    margin: 0 0 1.3rem;


    b {
      color: $red;
    }

    @media (max-width: $mobile) {
      margin: 0 0 13px;
    }
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
    gap: 2.2rem;

    @media (max-width: $mobile) {
      justify-content: center;
      align-items: flex-start;
      gap: 35px;
    }
  }

  &__member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11.8rem;

    &--half {
      width: 15.3rem;
    }

    @media (max-width: $mobile) {
      width: 115px;

      &--half {
        width: 115px;
      }
    }
  }

  &__image {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 11.8rem;
    height: 11.8rem;
    object-fit: cover;
    margin: 0 0 1rem;

    @media (max-width: $mobile) {
      width: 60px;
      height: 60px;
    }

    img {
      width: 100%;
      height: 100%;
    }

  }

  &__member-name {
    font-size: 2rem;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: $mossport;
    color: $red;
    text-align: center;

    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  &__schedule {
    flex-grow: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: $lightGrey;
    padding: 1.4rem 1.6rem;
    border-radius: 20px;

    @media (max-width: $mobile) {
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 17px 18px;

      .button {
        margin: 8px 0 0;
        width: 100%;
      }

      &:not(:last-child) {
        margin: 0 0 15px;
      }

    }

    .button--small-font {
      flex-grow: 2;
      max-width: 26rem;
      min-width: 26rem;

      @media (max-width: $mobile) {
        max-width: 100%;
        min-width: 100%;
      }
    }

    &:not(:last-child) {
      margin: 0 0 1.5rem;
    }


  }

  &__item-text {
    flex-grow: 1;
    height: 100%;
    margin: 0 1.5rem 0 0;

    p {
      font-weight: 700;
      line-height: 1.4;
      margin: 0 0 0.6rem;
    }

    span {
      font-size: 1.3rem;
      display: block;
      color: $red;
      font-weight: 700;
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column-reverse;
      margin: 0;
      width: calc(100% - 100px);

      p {
        margin: 6px 0 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.4;
      }

      span {
        font-size: 12px;
      }
    }
  }

  &__button {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__item-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $grey;
    width: 6.7rem;
    height: 6.7rem;
    border-radius: 12px;
    flex-shrink: 0;
    margin: 0 1.7rem 0 0;
    font-weight: 700;

    span {
      display: block;
      font-size: 2.8rem;
      line-height: 1.1;

    }

    p {
      font-size: 1.2rem;
      line-height: 1.3;
      margin: 0;
    }

    @media (max-width: $mobile) {
      width: 67px;
      height: 67px;
      margin: 0 17px 0 0;

      span {
        font-size: 28px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}
