.slider {
  position: relative;

    @media (max-width: $mobile) {
      margin: 0 ;
    }

    &.swiper-container {
      overflow: visible;
    }

    &__slide-location {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin: 0 0 1rem;
      color: $white;
      text-decoration: none;
      svg {
        fill: $white;
      }
    }

    &__image {
      position: relative;
      width: 27rem;
      height: 27rem;
      border-radius: 50%;
      overflow: hidden;
    }

    &__partner-image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &__slide-inner-partner {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $gold;
      height: 12.4rem;
      padding: 1.5rem;

      img {
        max-height: 100%;
        object-fit: contain;
      }
    }

    &__slide-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      color: $white;

      @media (max-width: $mobile) {
        width: 280px;
        height: 100%;
        margin: 0 auto;
      }

      h5 {
        margin: 2.4rem 0 0.6rem;
        font-size: 3.2rem;
        line-height: 1.2;
        text-transform: uppercase;
        font-family: $mossport;

        @media (max-width: $tablet) {
          font-size: 32px;
        }

        @media (max-width: $mobile) {
          font-size: 20px;
          margin: 22px 0 5px;
        }
      }

      p {
        font-size: 1.4rem;
        line-height: 1.2;
        margin: 0;

        @media (max-width: $tablet) {
          font-size: 14px;
        }

        @media (max-width: $mobile) {
          font-size: 16px;
        }
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        @media (max-width: $mobile) {
          height: 280px;
        }
      }
    }


    .swiper__control {
      position: absolute;
      display: flex;
      align-items: flex-start;
      background: none;
      border: none;
      height:  39.1rem;
      width: calc((100% - 124.5rem)/2);
      top: 0;
      padding: 11rem 0 0;
      cursor: pointer;
      flex-shrink: 0;

      &.swiper-button-disabled {
        display: none;
      }

      @media (max-width: $tablet) {
        padding: 85px 0 0;
        width: 20px;
      }

      @media (max-width: $mobile) {
        width: 24px;
        height: 280px;
        padding: 123px 0 0;
      }

      svg {
        fill: $white;
      }
    }

    .swiper__prev {
      left: 0;
      justify-content: flex-end;
      z-index: 5;

      @media (max-width: $tablet) {
        left: 15px;
      }

      @media (max-width: $mobile) {
        left: 20px;
      }
    }

    .swiper__next {
      right: 0;
      justify-content: flex-start;
      z-index: 5;

      @media (max-width: $tablet) {
        right: 15px;
      }

      @media (max-width: $mobile) {
        right: 20px;
      }
    }

    .swiper-wrapper {
      padding-left: calc((100% - 118rem) / 2);

      @media (max-width: $mobile) {
        padding-left: 0;
      }
    }


  }
