.stars {
  padding: 7.5rem 0 8rem;
  color: $white;
  background-color: $blue;

  &__title {
    margin: 0 0 1rem;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 0 0 3rem;

    @media (max-width: $tablet) {
      font-size: 16px;
    }
  }


  &--red {
    background-color: $red;
  }
}
